/* ==========================================================
   GOOGLE FONT
========================================================== */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

html, body, [class*="css"] {
    font-family: 'Inter', sans-serif;
}

/* ==========================================================
   BACKGROUND
========================================================== */

.stApp{
    background:#08111F;
    color:white;
}

/* ==========================================================
   SIDEBAR
========================================================== */

section[data-testid="stSidebar"]{

    background:#101827;
    border-right:1px solid rgba(255,255,255,.08);

}

/* ==========================================================
   HERO
========================================================== */

.hero{

    background:
    linear-gradient(
        135deg,
        #2563EB,
        #1D4ED8,
        #0F172A);

    padding:50px;

    border-radius:25px;

    color:white;

    box-shadow:0 12px 35px rgba(0,0,0,.35);

}

/* ==========================================================
   KPI CARD
========================================================== */

.kpi-card{

background:#111827;

border-radius:20px;

padding:22px;

border:1px solid rgba(255,255,255,.08);

box-shadow:0 8px 20px rgba(0,0,0,.35);

transition:.35s;

}

.kpi-card:hover{

transform:translateY(-6px);

box-shadow:0 15px 35px rgba(0,0,0,.45);

}

/* ==========================================================
   KPI NUMBER
========================================================== */

.kpi-value{

font-size:38px;

font-weight:800;

color:#38BDF8;

}

/* ==========================================================
   KPI LABEL
========================================================== */

.kpi-label{

font-size:16px;

color:#D1D5DB;

}

/* ==========================================================
   SECTION TITLE
========================================================== */

.section-title{

font-size:34px;

font-weight:800;

color:#38BDF8;

margin-top:35px;

margin-bottom:20px;

}

/* ==========================================================
   INFO CARD
========================================================== */

.info-card{

background:#111827;

padding:22px;

border-radius:18px;

margin-top:15px;

}

/* ==========================================================
   FOOTER
========================================================== */

.footer{

text-align:center;

padding:25px;

margin-top:40px;

color:#94A3B8;

font-size:15px;

}